.container {
    width: 100%;
    height: 100%;
}

.TableMain {
    width: 800px;
    height: 300px;
    margin: auto auto;
    border: 0.5px solid rgb(225, 222, 222);
    box-shadow: 0 0 5px grey;
    text-align: center;
    overflow: scroll;
    scroll-behavior: smooth;
}

.TableMain::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: rgba(105, 103, 103, 0.7);
}

th {
    background: rgb(240, 236, 236);
    padding: 12px;
    position: sticky !important;
    top: 0;
}

Table {
    width: 100%;
    overflow: scroll;
}

thead {
    border: 0.5px solid rgb(174, 168, 168);
}

tbody>tr {
    border: 0.5px solid rgb(174, 168, 168);
    border-bottom: 1px solid grey;
}

tr:hover {
    background: rgb(236, 235, 235);
    cursor: pointer;
}

td {
    padding: 12px;
}

button {
    width: 80%;
    padding: 12px;
    margin: auto;
    height: auto;
    background: coral;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}